.headerarea {
	 background-image: url("http://bestanimations.com/Food/FastFood/burger-fries-fast-food-animated-gif-5.gif");
	 height: 310px;
	 text-align: center;
	 margin: auto;
   opacity: 0.4;

}


#food-buttons{
  text-align: center;
}


button {
    background-color: #ffffff; 
    border: solid 2px;
    border-radius: 25px;
    border-color: black;
    color: red;
	  margin: 3px;
	  text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


#header1, #header2 {
  position: relative;
  bottom: 200px;
  text-align: center;
}

.item {
  float: left;
}

#search {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 15px;
}

.food-item {
  text-align: center;
}